@media screen and (max-width: 1400px) {
    #profile {
        height: 84vh;
    }

    #projects {
        height: fit-content;
        margin: 0 8rem 0 6rem;
    }

    #projects .about-container {
        flex-wrap: wrap;
    }

    #contact .text-1 {
        margin-top: -4rem;
    }
}

@media screen and (max-width: 1305px) {

    section {
        height: fit-content;
    }

    #profile .section-pic img {
        padding-top: 1rem;
    }

    #profile .section-pic img {
        width: 500px;
        height: 500px;
    }

    .title {
        font-size: 2.7rem;
    }

    #element,
    .typed-cursor {
        font-size: 2.3rem;
    }

    #about {
        padding-bottom: 3rem;
    }

    #about .section-container {
        display: block;
    }

    .about-pic {
        width: 35%;
        padding-left: 20rem;
    }

    .text-container {
        margin-top: 1rem;
    }

    .text-container p {
        font-size: 1.35rem;
    }

    #skill {
        margin-top: 0;
    }

    .skill-container {
        display: block;
    }

    .skill-container .details-container {
        margin-bottom: 2rem;
    }

    #projects .color-container {
        width: fit-content;
    }
}

@media screen and (max-width: 1025px) {
    #navigationbar-desktop {
        display: none;
    }

    #navigationbar-collapse {
        display: flex;
    }

    #profile {
        gap: 15rem;
    }

    section {
        height: fit-content;
    }

    #about .title {
        margin-bottom: 0.5rem;
    }

    .text-1,
    .text-2 {
        font-size: 1.25rem;
        margin-bottom: -0.3rem;
    }

    .title {
        font-size: 2.7rem;
        margin-bottom: -0.3rem;
    }

    #element,
    .typed-cursor {
        font-size: 1.9rem;
    }

    .section-container {
        height: fit-content;
    }

    .section-pic {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    #profile .section-pic img {
        padding-top: 0;
        width: auto;
        height: 140%;
    }

    .about-pic {
        width: auto;
        padding-left: 0;
        margin: 0 2rem 0 3rem;
    }

    #about .about-container {
        margin-top: -5rem;
    }

    #skill {
        height: fit-content;
    }

    #skill .text-1 {
        margin-top: 3rem;
    }

    #skill-sub-title {
        font-size: 1.2rem;
    }

    .article-container {
        justify-content: left;
        margin-left: 1rem;
    }

    #projects .color-container {
        width: fit-content;
    }

    #projects .title {
        margin-bottom: 3rem;
    }

    .project-img {
        height: 50%;
        width: 50%;
    }

    #projects .article-container {
        justify-content: space-around;
    }

    .project-title {
        font-size: 1.5rem;
    }

    #projects h3 {
        font-size: 1.5rem;
    }

    #contact {
        height: 45vh;
    }
}

@media screen and (max-width: 941px) {

    section {
        height: fit-content;
    }

    .arrow {
        display: none;
    }

    .logo {
        font-size: 1.7rem;
    }

    #profile {
        display: block;
    }

    #profile .section-pic {
        justify-content: center;
    }

    #profile .section-pic img {
        height: 290px;
    }

    .text-1,
    .text-2 {
        font-size: 1.1rem;
        margin: 0;
    }

    .title {
        font-size: 1.75rem;
        margin: 0;
    }

    #element,
    .typed-cursor {
        font-size: 2.5rem;
    }

    #profile .btn {
        margin-top: -0.5rem;
    }

    #profile .icon {
        margin-top: -0.5rem;
    }

    #about .about-container {
        display: block;
    }

    .about-container h3 {
        font-size: 1.75rem;
    }

    .about-container p {
        font-size: 1rem;
    }

    .about-container span {
        font-size: 1.5rem;
    }

    #skill h3 {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.8rem;
        transition: all 300ms ease;
        padding: 0.3rem;
        width: 6.5rem;
        border-radius: 2rem;
    }

    #about {
        margin-top: 1rem;
    }

    .section-container {
        display: block;
    }

    .about-pic {
        height: 60%;
        width: fit-content;
    }

    .about-container {
        margin-top: 3.5rem;
    }

    .icon {
        height: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .text-container p {
        font-size: 1rem;
    }

    #skill {
        padding-top: 5vh;
    }

    .article-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    article .icon {
        height: 15px;
        width: 15px;
        margin-top: 0;
    }

    .skill-sub-title {
        font-size: 1.27rem;
    }

    .skill-container {
        display: block;
    }

    .details-container {
        margin-bottom: 1rem;
    }

    #projects {
        margin: 0 2rem 0 2rem;
    }

    #projects .title {
        margin-bottom: -2rem;
    }

    #projects .about-container {
        display: wrap;
    }

    .project-img {
        height: 30%;
        width: 30%;
    }

    #projects h2 {
        font-size: 1.5rem;
    }

    #projects h3 {
        font-size: 1.25rem;
    }

    #contact,
    footer {
        height: 25vh;
    }

    footer nav {
        height: fit-content;
        margin: 2rem 0;
    }

    footer p {
        font-size: 0.8rem;
    }

    .info-container {
        margin: 0 0.5rem 0 0;
    }

    .info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    footer .nav-links {
        flex-direction: column;
        text-align: center;
        gap: 0rem;
    }

    .contact-icon {
        height: 1.5rem;
        margin-bottom: 0.4rem;
    }
}

@media screen and (max-width: 690px) {

    section {
        margin: 0 2rem 0 1rem;
    }

    #element,
    .typed-cursor {
        font-size: 1.7rem;
    }

    .about-container h3 {
        font-size: 1rem;
    }

    .about-container span {
        font-size: 1.1rem;
    }

    .about-container p {
        font-size: 1rem;
    }

    .icon {
        height: 1.5rem;
        margin: 0;
    }

    #skill {
        height: fit-content;
    }

    #projects {
        margin: 0;
    }

    #projects .details-container {
        margin: 0.5rem 1rem;
        padding: 2rem;
    }

    #contact {
        height: fit-content;
    }

    .contact-info {
        display: block;
    }

    .project-img {
        padding-right: 1rem;
    }
}